

.ProductOfferContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1.5rem;
}
.ProductOfferHeadingContainer{
    width: 100%;
}
.ProductOfferHeading{
    width: max-content;
    margin: auto;
    font-family:cursive;
    color: tomato;
    border-bottom: 1px solid rgb(255, 66, 33);
}