

.productBestSellingContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1.5rem;
}
.productBestSellingHeadingContainer{
    width: 100%;
    padding: 3% 0;
}
.productBestSellingHeading{
    width: max-content;
    margin: auto;
    font-family:cursive;
    color: tomato;
    border-bottom: 1px solid red;
}